*{
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans Condensed', sans-serif;
    margin: 0 auto;
    max-width:60em; /*= 60 em = 960px ~ 1080px fartölvuskjár */
    background-color:#120403;
    color:orange;
    border: darkblue;
    font-size: 1.2em;
    
}
/* -- GRID AREA --  hnit */
.content {
    color: orange;
    grid-area: content;
    text-align: center;
}
.container{
    grid-area: container;
}
.topnav{
    grid-area: topnav;
}
.foot{
    grid-area: foot;
}
/* dálkar í container */
.as1{
    grid-area: as1;
    padding-right: 2em;
}
.as2 {
    grid-area: as2;
    padding-right: 2em;
}
.art1 {
    grid-area: art1;
    color: orange;
}
/* -- Grid template --*/
.content{
    display:grid;
    grid-gap:0;
    grid-template-areas: 
        "haus"
        "topnav"
        "container"
        "foot"
}
/* -- innri tög í main --*/
.container{
    display:grid;
    grid-gap:1em;
    grid-template-areas: 
        "as1  art1 as2";
    grid-template-columns: 1fr 3fr 1fr; 
}
/* -- flex box -- */
.topmenu, .footmenu {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    padding: 1em;
    
}
.topmenu li, .footmenu li{
    list-style-type: red;
}