*{
    box-sizing: border-box;
}
body{
    border:2px solid blue;
    margin:2px solid blue;
    margin: 1em auto;
    padding:1em;
    max-width:50em;
    
}
.BigL {
    float: left;
    font-size: 4em
}
.imgR {
    float:right;
    width: 12em;
    padding-left: .5em;
}
.box{
    float:left;
    width: 50%;
    padding: 1em;
    border:1px solid blue;
}
/*CLEARFIX*/
.group::before, .group:after {
    content: "";
    display: table;
}
.group {
    clear:both;
}